body {
    background: black;
    color:white;
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', 'sans-serif';
}

a:link{
    color: white;
    text-decoration: none;
}
a:link:hover{
    text-decoration: underline;
}
a:visited{
    color:white;
}
header{
    padding:20px;
    background:#333;
}
.content{
    padding:20px;
}