

.video-wrapper{
    position:relative;
    cursor:pointer;
    text-align:center;
}
.video-wrapper h3 {
    position:absolute;
    left:70px;
    text-shadow: 1px 1px 4px #333;
}

.video-wrapper video {
    width: 80vw;
    max-width: 1200px;
    max-height: 705px;
    height: 51vw; /*doing this gives roughly 16:9 aspect ratio*/
}

.video-picker{
    padding: 10px 0;
    position:relative;
}
.video-picker-thumbnails {
    overflow-y: hidden;
    overflow-x:scroll;
    white-space:nowrap;

    margin: 0 50px;
}
.video-picker-thumbnails::-webkit-scrollbar {
    display:none;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.thumbnail-wrapper {
    display:inline-block;
    position:relative;
    margin: 7px 5px;
    width:200px;
    height:110px;
    color: lightgray;
    border: 1px solid black;
    background-size:cover;
}
.thumbnail-wrapper > .thumbnail-title {
    position:absolute;
    z-index:2;
    white-space: normal;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 0.6px;
    cursor:inherit;

    /* vertically and horizontally centering the title */
    width:100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.thumbnail-wrapper.thumbnail-clickable:not(.thumbnail-active) {
    cursor:pointer;
}
.thumbnail-wrapper.thumbnail-active {
    cursor:default;
}

.thumbnail-wrapper.thumbnail-active,
.thumbnail-wrapper.thumbnail-clickable:hover{
    border-color:white;
    color: #FFF;
    transition: all .15s ease-in-out;
    transform:scale(1.05);
}


.video-picker-thumbnails:hover .thumbnail-wrapper.thumbnail-active:not(:hover) {
    border-color:black;
    color: lightgray;
    transform:scale(1);
}


.scroll-button{
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    border-color:white;
    width: 49px;
    font-size: 90px;
    padding: 0;
    cursor:pointer;

    transform: translateY(-50%);
    top: 50%;

    transition:all .05s ease-in;
}
.scroll-button-left{
    left:0;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0;
    border-right: 30px solid;
}
.scroll-button-right{
    right:0;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right:0;
    border-left: 30px solid;
}
.scroll-button-left:active{
    border-right-color:lightgray;
}
.scroll-button-right:active{
    border-left-color:lightgray;
}

